.App {
  text-align: center;
}

iframe {
  margin: 10px;
}

.welcome {
  margin-top: 5%;
}

#form-input {
  width: 50%;
}

#loader {
  background-image: url('court.jpg');
  height: 100vh;
  color: white;
}
