.App {
  text-align: center;
}

iframe {
  margin: 10px;
}

.welcome {
  background-image: url('hoop.jpg');
  height: 100vh;
  color: white;
}

form {
  width: 50%;
  margin: 0 auto;
}

#loader {
  background-image: url('court.jpg');
  height: 100vh;
  color: white;
}
