.App {
  text-align: center;
}

h1, h2 {
  color: white;
}

div.ui.inverted.menu {
  border-radius: 0;
}

a.ui.button {
  background-color: white;
  color: black;
}
iframe {
  height: 400px;
  margin-bottom: 10px;
}

div.LazyLoad.is-visible {
  margin-bottom: 179px;
}

div.ui.divider {
  width: 70%;
  margin: 0px auto;
  margin-top: 20px;
  margin-bottom: 20px;
}

form {
  display: inline-block;
  margin-bottom: 6px;
}

.welcome {
  background-image: url('hoop.jpg');
  height: 100vh;
  color: white;
}

#welcome-header {
  margin-top: 10%;
}

#welcome-h1 {
  font-size: 7.5em;
  color: #FF5722;
  background-color: #212121;
  border-radius: 1.5%;
  width: 37%;
  margin: 0 auto;
}

#welcome-h2 {
  font-size: 2.5em;
  color: #FF5722;
  background-color: #212121;
  border-radius: 1.5%;
  width: 46%;
  margin: 0 auto;
  margin-top: 1%;
}

.highlights-component {
  background-image: url('hoop.jpg');
  height: 100%;
  background-repeat: repeat-y;
}

div.ui.segment {
  width: 60%;
  margin: 0 auto;
  margin-bottom: 10px;
}

@media (max-width: 1403px) {

  #welcome-h1 {
    width: 45%;
  }

  #welcome-h2 {
    width: 52%;
  }
}

@media (max-width: 1388px) {

  #welcome-h1 {
    width: 48%;
  }

  #welcome-h2 {
    width: 50%;
  }
}

@media (max-width: 1388px) {

  #welcome-h1 {
    width: 43%;
  }

  #welcome-h2 {
    width: 51%;
  }
}

@media (max-width: 1261px) {

  #welcome-h1 {
    width: 55%;
  }

  #welcome-h2 {
    width: 58%;
  }
}

@media (max-width: 1225px) {

  #welcome-h1 {
    width: 45%;
  }

  #welcome-h2 {
    font-size: 2em;
    width: 54%;
  }
}

@media (max-width: 1113px) {

  #welcome-h1 {
    width: 55%;
  }

  #welcome-h2 {
    width: 54%;
  }
}

@media (max-width: 1075px) {

  #welcome-h1 {
    width: 55%;
  }

  #welcome-h2 {
    width: 64%;
  }
}


@media (max-width: 966px) {

  #welcome-h1 {
    width: 55%;
  }

  #welcome-h2 {
    width: 58%;
  }
}

@media (max-width: 915px) {

  #welcome-h1 {
    width: 75%;
  }

  #welcome-h2 {
    font-size: 2em;
    width: 78%;
  }
}

@media (max-width: 716px) {

  iframe {
    height: 350px;
    /*margin: 0 auto;*/
    width: 70%;
  }

}

@media (max-width: 700px) {

  #welcome-h1 {
    font-size: 5em;
    width: 60%;
  }

  #welcome-h2 {
    font-size: 2em;
    width: 84%;
  }
}

@media (max-width: 550px) {
  h1, h2 {
    color: #FAFAFA;
  }

  iframe {
    height: 250px;
    width: 70%;
    /*margin-bottom: -2px;*/
  }

  div.LazyLoad.is-visible {
    margin-bottom: 60px;
  }
}

@media (max-width: 400px) {
  h1, h2 {
    color: #FAFAFA;
  }

  iframe {
    height: 150px;
    width: 70%;
  }

  div.LazyLoad.is-visible {
    margin-bottom: 5px;
  }

  div.ui.segment {
    width: 100%;
    margin: 0 auto;
    margin-bottom: 10px;
  }
}
